/* ----------------------- BARRA DE NAVEGACION (LOGO Y LINKS) ----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
body{
    margin:0;
    padding:0;
    font-family: 'Oxygen', sans-serif;
    color: #182B71;
}
header {
    background-color: #f8f9fa;
}
.logo-img {
    margin-top: -26px;
}

.navbar{
    z-index: 2;
}
.navbar-brand{
    margin-top: 13px;
}
.nav-tabs .nav-link{
    border: 1px solid #e5e5eb;
    background-color: white !important;
} 
.nav-link:hover {
    background-color: rgba(255,255,255,.5);
    transition: all 0.3s ease-in-out;
}
.navbar-light .navbar-toggler {
    background-color: white;
    z-index: 10;
}

.nav-pills .navl.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color:#5F87F1;
}
.nav-pills .nav-link {
    border-radius: 2rem;
    background-color: #EB7E58;
    color: #ffffff;
}
#diagnostico, #ahora{
    background-color: #EAEAEA;
    border-radius: 45px;
}
.parrafos{
    padding: 30px;
}
.logo {
    margin-top: 100px;
    width: 80% !important;
}
/*---------BANNER--------*/
.img-dec {
    position: absolute;
    top: 90;
    left: 0;
    width: 200px;
    z-index: 0;
}
.intro{
    display: flex;
    justify-content: center;
}
.intro h3{
    width: 90%;
    font-size: 24px;
    margin: 50px auto auto auto;
    display: block;
    text-align: justify;

}
.title{
    text-align: center;
    color: #EB7E58;
    font-weight: 700;
    margin-bottom: 30px;
}
.medida{
    width: 70%;
    margin: auto;
    display: block;
    background-color: #F8F7F4;
    border-radius: 25px;
    padding: 10px 20px;
}
.medida img{
    width: 90px;
    display: block;
    margin: auto;
}
.spr{
    margin-top: -16px;
    position: relative;
    z-index: -1;
}
.titulos{
    width: 70%;
    margin: auto;
    display: block;
    background-color: #F8F7F4;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 20px;
    height: 200px;
}
.titulos p{
    font-weight: 700;
    font-size: 18px;
}
.titulos a{
    cursor: pointer;
    color: #EB7E58 !important;
    font-weight: 700;
}

.img-der{
  background-image: url(dec-der.png);
  background-position: bottom right;
  background-size: 200px;
  background-repeat: no-repeat;

}
.modal-contentt {
    background-color: #EAEAEA;
    border: none;
    border-radius: 40px;
}
.modal-body {
    padding: 1.5rem 1.5rem 0;
}
.modal-header span{
    font-size: 16px ;
    margin-right: 20px;
    color: #EB7E58;
}
/* ----------------------- FOOTER ----------------------- */
.footer {
    bottom: 0;
    width: 100%;
    line-height: 1.5rem;
    background-color: #001c41;
    color: #ffffff;
    position: relative;
}

.border-bottom {
    border-bottom: 1px solid #192e85 !important;
}
.separa-logo {
    display: inline-block;
}
.gob-txt{
    line-height: 1.2rem;
    text-align: right;
}
.redes-sociales{
    display:flex;
    justify-content:stretch;
    justify-content: center;
    border-left: 2px solid white;
}

.socialmedia{
    display: flex;
    text-align: left;
    flex-direction: row;
}

footer a, footer a:visited, footer a:active{
    color: #ffffff;
    font-weight: 400;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
/* mantiene el logo de gob en el bottom de la pagina */
.vertical-align-bottom{
    position: absolute;
    bottom: 0;
}


/* ----------------------- REDES SOCIALES ----------------------- */
.fa-instagram, .fa-twitter, .fa-facebook-f, .fa-linkedin {
    padding: 5px 8px;
    font-size: 1.2rem;
    display:flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
}


.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}


ul li {
    padding-bottom: 15px;
}

.separador {
    color: #0F69C4;
}

@media (max-width: 768px) {
    .separa-logo {
        display: grid;
        grid-template-rows: 45px 46px;
        row-gap: 20px;
    }
    .gob-txt{
        text-align: left;
    }
    .img-der{
        background-size: 100px;
    }
    .logo-sequia{
        width: 200px;
    } 
    .intro{
       margin-top: 20px;
    }
    .intro h3{
        font-size: 16px;
        margin: auto;
    }
    .title{
        font-size: 23px;
    }
    .titulos{
        height: auto;
    }
}

@media (max-width: 500px){
.img-dec {
    width: 70px;
}
}
